*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(226, 94, 116);
}
.stopwatch{
    width: 90%;
    max-width: 600px;
    background-image:linear-gradient( rgba(0,0,0,0.7),rgba(0,0,0,0.7)) ,url(image/background.png);
    background-position: center;
    background-repeat: no-repeat;
   background-size: cover;
   text-align: center;
   padding: 40px 0;
   color: white;
   margin: 200px auto 0;
   box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}
.stopwatch h1{
    font-size: 30px;
    margin-bottom: 30px;
}
.btns{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btns img{
    width: 50px;
    margin: 0 20px;
    cursor: pointer;
}
.btns img:nth-child(2){
    width: 80px;
}
